.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
  padding: 6rem;
  min-height: 100vh;
}

.imgContainer{
  width: 500px;
  height: 600px;
  animation: image 2s linear infinite;
}

.text{
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.head{
  font-size: 72px;
  background: linear-gradient(to bottom, #194c33, #bbb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.paragraph{
  font-size: 24px;
  font-weight: 300;
}

.btn{
  width: 40%;
  background-color: transparent;
  color: #53c38b;
  padding: 20px;
  border: none;
  border-radius: 8px;
  outline: 2px ridge #53c38b;
}

.btn:hover{
  background-color: #53c38b;
  color: white;
  cursor: pointer;
}

@keyframes image {
  0%, 100%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(-5%);
  }
}
